@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --blue: #207fd1;
    --black: #192a56;
    --light-color: #666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,0.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
    list-style: none;
}

.hide{
    display: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section, footer{
    padding: 2rem 9%;
}

section:nth-child(even){
    background: #eee;
}

.sub-heading{
    text-align: center;
    color: var(--blue);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    color: var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover{
    background: var(--blue);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1003;
    box-shadow: var(--box-shadow) ;
}

header a img{
    height: 50px;
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--light-color)
}

header .navbar a.active,
header .navbar a:hover{
    color: #fff;
    background: var(--blue);
}
header .icons{
    position: relative;
}

header .icons .item{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons .item:hover{
    color: #fff;
    background: var(--blue);
    transform: rotate(360deg);
}

header .icons .nav-user{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-2% ,calc(100% + 1.2rem));
    width: 17rem;
    background-color: #e3e3e3;
    border-radius: 5px;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.3);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s all;
}

header .icons .fa-user:hover + .nav-user,
header .icons .nav-user:hover {
    visibility: visible;
    opacity: 1;
}

header .icons .nav-user .arrow{
    font-size: 3rem;
    position: absolute;
    right: 1rem;
    top: 0;
    transform: translateY(-54%);
    color: #e3e3e3;
    z-index: 1004;
}

header .icons .nav-user ul li{
    position: relative;
    z-index: 1005;
    font-size: 1.5rem;
    cursor: pointer;
}

header .icons .nav-user ul li:first-child,
header .icons .nav-user ul li:first-child a{
    border-radius: 5px 5px 0 0;
}

header .icons .nav-user ul li:last-child,
header .icons .nav-user ul li:last-child a{
    border-radius: 0 0 5px 5px;
}

header .icons .nav-user ul li a{
    display: block;
    padding: .7rem 1.3rem;
    width: 100%;
    height: 100%;
    color: #555555;
    font-weight: 600;
}

header .icons .nav-user ul li a:hover{
    background-color: rgb(201 201 201);
    color: #2a2a2a;
    font-weight: 700;
}

header .icons .nav-user ul li i{
    margin-right: .8rem;
}

header .icons #menu-bars{
    display: none;
}

#search-form{
    position: fixed;
    top: -110%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1004;
    background: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}
#search-form.active{
    top: 0;
}

#search-form #search-box{
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;
}

#search-form #search-box::placeholder{
    color: #eee;
}

#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#search-form label{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
}

#search-form label:hover{
    color: var(--blue);
}

#search-form #close{
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;
}

.home{
    padding-top: 7rem;
}

.home .home-slider .slide#banner-1{
    background: url(../images/banners/banner-1.png);
    background-repeat: round;
}
.home .home-slider .slide#banner-2{
    background: url(../images/banners/banner-2.png);
    background-repeat: round;
}
.home .home-slider .slide#banner-3{
    background: url(../images/banners/banner-3.jpg);
    background-repeat: round;
}


.home .home-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;
    height: 40rem;
}

.home .home-slider .slide .content{
    max-width: 33%;
    margin-left: 2rem;
}

.home .home-slider .slide .content span{
    color: var(--blue);
    font-size: 2.5rem;
}

.home .home-slider .slide .content h3{
    color: #fff;
    font-size: 4rem;
}

.home .home-slider .slide .content p{
    color: #bbb;
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 1.5;
}

.swiper-pagination-bullet-active{
    background: var(--blue);
}

.new-products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 1.5rem;
}

.new-products .box-container .box{
    padding:2.5rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}

.new-products .box-container .box .fa-heart,
.new-products .box-container .box .fa-eye{
    position: absolute;
    top: 1.5rem;
    background: #eee;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--black);
}

.new-products .box-container .box .fa-heart:hover,
.new-products .box-container .box .fa-eye:hover{
    background: var(--blue);
    color: #fff;
}

.new-products .box-container .box .fa-heart{
    right: -15rem;
}

.new-products .box-container .box .fa-eye{
    left: -15rem;
}

.new-products .box-container .box:hover .fa-heart{
    right: 1.5rem;
}

.new-products .box-container .box:hover .fa-eye{
    left: 1.5rem;
}

.new-products .box-container .box img, .products .list-products .product img{
    height: 17rem;
    margin: 1rem 0;
}

.new-products .box-container .box h3, .products .list-products .product h3{
    color: var(--black);
    font-size: 2.5rem;

}

.new-products .box-container .box .stars{
    padding: 1rem 0;
}

.new-products .box-container .box .stars i{
    font-size: 1.7rem;
    color: var(--blue);
}

.new-products .box-container .box .price, .products .list-products .product .price{
    color: var(--blue);
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2.5rem;
}

.new-products .box-container .box .installment-price, .products .list-products .product .installment-price{
    font-size: 1.3rem;
    font-weight: 600;
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.about .row .image{
    flex: 1 1 55rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex: 1 1 45rem;
}

.about .row .content h3{
    color: var(--black);
    font-size: 4rem;
    padding: .5rem 0;
}

.about .row .content p{
    color: var(--light-color);
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 2;
}

.about .row .content .icons-container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top: .5rem;
}

.about .row .content .icons-container .icons{
    background: #eee;
    border: .1rem solid rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1 1 17rem;
    padding: 1.5rem 1rem;
}

.about .row .content .icons-container .icons i{
    font-size: 2.5rem;
    color: var(--blue);
}

.about .row .content .icons-container .icons span{
    font-size: 1.5rem;
    color: var(--black);
}

.error{
    padding-top: 15rem;
    padding-bottom: 10rem;
    font-size: 4rem;
    text-align: center;
}

.error.hide{
    display: none;
}

.pc-categories .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.pc-categories .box-container .box{
    background: #fff;
    border: .1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.pc-categories .box-container .box .image{
    height: 25rem;
    width: 100%;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}

.pc-categories .box-container .box .image img{
    height: 100%;
}

.pc-categories .box-container .box .image .fa-heart{
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    background: #fff;
    border-radius: 50%;
    color: var(--black);
}

.pc-categories .box-container .box .image .fa-heart:hover{
    background-color: var(--blue);
    color: #fff;
}

.pc-categories .box-container .box .content{
    padding: 2rem;
    padding-top: 0;
}

.pc-categories .box-container .box .content .stars{
    padding-bottom: 1rem;
}

.pc-categories .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: var(--blue);
}

.pc-categories .box-container .box .content h3{
    color: var(--black);
    font-size: 2.5rem;  
}

.pc-categories .box-container .box .content p{
    color: var(--light-color);
    font-size: 1.6rem;
    padding: .5rem 0;
    line-height: 1.5;
}

.pc-categories .box-container .box .content .price{
    color: var(--blue);
    font-size: 2rem;
    font-weight: 600;
}

.review .slide{
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    position: relative;
}

.review .slide .fa-quote-right{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 6rem;
    color: #ccc;
}

.review .slide .user{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
}

.review .slide .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .slide .user h3{
    color: var(--black);
    font-size: 2rem;
    padding-bottom: .5rem;
}

.review .slide .user  i{
    font-size: 1.3rem;
    color: var(--blue);
}

.review .slide p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
}

footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

footer .box-container .box h3{
    padding: .5rem 0;
    font-size: 2.5rem;
    color: var(--black);
}

footer .box-container .box a{
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--black);
}

footer .box-container .box a:hover{
    color: var(--blue);
    text-decoration: underline;
}

footer .box-container .box a i{
    margin-left: .4rem;
}

footer .credit{
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    font-size: 2rem;
    color: var(--black);
    padding: .5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

footer .credit span{
    color: var(--blue);
}
.products .not-found{
    font-size: 3rem;
    font-weight: 600;
}

.products .products-filters{
    padding-top: 7rem;
    margin-bottom: 3rem;
}

.products .products-filters span{
    color: var(--blue);
    font-weight: bold;
    font-size: 1.5rem;
}

.products .list-products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 26rem));
    gap: 1.5rem;
    justify-content: center;
}

.products .list-products .product{
    width: 100%;
    padding:2.5rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    text-align: center;
}

.products .list-products .product .sold-off{
    padding: .7rem 4rem;
    background-color: var(--blue);
    font-size: 1.5rem;
    color: white;
}

.product-detail{
    padding: 0;
    margin: 9rem 4rem;
    display: flex;
    flex-wrap: wrap;
    border-top: .2rem solid rgba(0,0,0,.1);
}

.product-detail .product-image{
    width: 55%;
    height: 50rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.product-detail .product-image img{
    max-height: 100%;
    max-width: 100%;
}

.product-detail .product-info{
    width: 45%;
    padding: 2rem;
    border-left: .2rem solid rgba(0,0,0,.1);
}

.product-detail .product-info h1{
    font-size: 2.8rem;
    font-weight: 400;
}

.product-detail .product-info .stars{
    color: var(--blue);
    font-size: 2rem;
}

.product-detail .product-info .credit-card, .product-detail .product-info .cash-price{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.product-detail .product-info .credit-card i, .product-detail .product-info .cash-price i{
    font-size: 3rem;
}

.product-detail .product-info .total{
    font-size: 3rem;
    font-weight: 700;
}

.product-detail .product-info .price .installment-price, .product-detail .product-info .price .description{
    font-size: 1.5rem;
    line-height: .1rem;
}

.product-detail .product-info a, .product-detail .product-info .sold-off{
    display: block;
    width: 100%;
    background-color: var(--blue);
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    padding: .8rem 1rem;
    transition: all .2s linear;
}

.product-detail .product-info a:hover{
    background-color: #236aa8;
}

.product-detail .product-info  > div{
    margin: 1.5rem 0;
}

.product-description h1{
    color: var(--blue);
    font-size: 2rem;
}

.product-description p{
    font-size: 1.5rem;
}

.cart{
    padding-top: 10rem;
    background-color: #eee
}

.cart .title-cart{
    text-align: center;
    font-size: 2.5rem;
}

.cart .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cart .items{
    width: 65%;
}

.cart .item{
    background-color: #fff;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    padding: 1.2rem;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.cart .remove-item{
    float: right;
    font-size: 1.3rem;
    color: rgba(135, 135, 135);
    cursor: pointer;
}

.cart .remove-item:hover{
    color: red;
}

.cart .item .content, .cart .item .content> div{
    display: flex;
    align-items: center;
}

.cart .item .content{
    flex-wrap: wrap;
    justify-content: space-between;
}

.cart .item .image-box{
    width: 7rem;
    height: 7rem;
    border-radius: 5px;
    position: relative;
}

.cart .item .image-box img{
    max-height: 100%;
    max-width: 100%;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.cart .item .product-info .name{
    width: 18rem;
    margin-left: 0.5rem;
    font-weight: normal;
    font-size: 1.5rem;
}

.cart .item .updater .fa-minus{
    color: rgba(135, 135, 135);
    cursor: pointer;
}

.cart .item .updater .fa-plus{
    color: var(--blue);
    cursor: pointer;
}

.cart .item .updater .amount{
    margin: 0 .8rem;
    font-weight: 600;
    cursor: default;
}

.cart .item .value{
    display: block !important;
    margin-right: 1rem;
    width: 17rem;
}

.cart .item .value span{
    float: right;
    margin-left: .5rem;
    font-weight: 600;
}

.cart .item .value .price{
    color: rgb(135, 135, 135);
}

.cart .item .value .subtotal{
    color: var(--blue);
}

.cart .clear{
    color: rgb(192, 192, 192);
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 800;
}

.cart .clear:hover{
    color: red;
}

.cart .pay{
    width: 30%;
    align-self: flex-start;
    margin-top: 1rem;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    position: sticky;
    top: 9rem;
    border-radius: 5px;
}

.cart .pay > div{
    padding: 1rem;
    color: #555;
}

.cart .pay .frete, .cart .pay .cupom{
    border-bottom: .1rem solid rgba(0,0,0,.1);
}

.cart .pay .frete h1, .cart .pay .cupom h1{
    display: inline;
}

.cart .pay .frete span, .cart .pay .cupom span{
    float: right;
    font-size: 1.3rem;
}

.cart .pay .installment i, .cart .pay .total i{
    font-size: 2.5rem;
    margin-right: 1rem;
}

.cart .pay .installment p, .cart .pay .total p{
    font-size: 1.2rem;
}

.cart .pay .installment span{
    font-weight: 300;
    font-size: 1.8rem;
}

.cart .pay .total span{
    color: var(--blue);
    font-weight: bold;
    font-size: 1.8rem;
}

.cart .pay a{
    display: block;
    color: #fff;
    background-color: var(--blue);
    text-align: center;
    padding: .8rem 1rem;
    font-size: 2rem;
    font-weight: 600;
    width: 100%;
    border-radius: 0 0 5px 5px;
}

.cart .pay a:hover{
    background-color: #1b67aa;
}

.orders{
    padding-top: 10rem;
    background-color: #eee;
}

.orders .title{
    text-align: center;
    font-size: 2.5rem;
}

.orders .no-orders{
    margin-top: 1rem;
    text-align: center;
    font-weight: 500;
}

.orders .item{
    border-radius: 5px;
    margin: 2.5rem 0;
    box-shadow: var(--box-shadow);
}

.orders .item .header{
    padding: 1.5rem;
    background-color: #fff;
    border-bottom: .1rem solid rgba(0,0,0,.1);
    border-radius: 5px 5px 0 0;
}

.orders .item .header h1{
    font-weight: 500;
    
}

.orders .item .header h1 span{
    color: var(--blue);
    font-weight: 600;
    font-size: 1.7rem;
}

.orders .item .content{
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 5rem;
    padding: 1.5rem;
    border-radius: 0 0 5px 5px;
}

.orders .item .content div > span{
    font-size: 1.5rem;
    color: #777;
}

.orders .item .content div > p{
    font-size: 1.5rem;
}

.orders .item .footer{
    border-top: .1rem solid rgba(0,0,0,.1);
}

.orders .item .footer a{
    padding: 1rem;
    color: var(--blue);
    font-size: 1.5rem;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-weight: 500;
    border-radius:  0 0 5px 5px;
}

.orders .item .footer a:hover{
    background-color: var(--blue);
    color: #fff;
}

.detail-order{
    padding-top: 10rem;
    background-color: #eee;
}

.detail-order .title{
    text-align: center;
    font-size: 2.5rem;
}

.detail-order .details{
    background-color: #fff;
    box-shadow: var(--box-shadow);
    padding: 1.5rem;
    border-radius: 5px;
    margin: 1.5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 20rem));
    gap: 2rem;
    align-items: center;
}

.detail-order .details .order-number p{
    color: var(--blue);
}

.detail-order i{
    color: var(--blue);
    font-size: 2.5rem;
}

.detail-order .details div > span{
    font-size: 1.5rem;
    color: #777;
}

.detail-order .details div > p{
    font-size: 1.5rem;
}

.detail-order .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    margin: 1rem 0;
}

.detail-order .client .content, .detail-order .total .content{
    height: 15rem;
}

.detail-order .client .content, .detail-order .total .content, .detail-order .items .content{
    background-color: #fff;
    box-shadow: var(--box-shadow);
    padding: 1.5rem;
    border-radius: 5px;
}

.detail-order .client .content{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    height: 150px;
}

.detail-order .client .data h1{
    font-weight: 600;
    text-transform: uppercase;
}

.detail-order .client .data p{
    font-size: 1.5rem;
}

.detail-order .client-address .content{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 2.3rem;
    height: 150px;
}

.detail-order .total .content div > p{
    float: right;
}

.detail-order .total .content div{
    font-size: 1.4rem;
    margin: .3rem 0;
}

.detail-order .total .value{
    margin-top: 3rem !important;
    font-size: 1.6rem !important;
    font-weight: 700;
}

.detail-order .total .value span{
    color: var(--blue);
}

.detail-order .items{
    margin: 1rem 0;
}

.detail-order .items .item{
    border-bottom: .1rem solid rgba(0,0,0,0.1);
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
}

.detail-order .items .item, .detail-order .items .item > div{
    display: flex;
    align-items: center;
}

.detail-order .items .item .img-box{
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-order .items .item .name{
    width: 16rem;
    margin-left: 1rem;
    font-weight: 600;
}

.detail-order .items .item .img-box img{
    max-width: 100%;
    max-height: 100%;
}

.detail-order .items .item .purchase-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 20rem));
    gap: 2rem;
    width: 70%;
}

.detail-order .items .item .purchase-info div > span{
    font-size: 1.5rem;
    color: #777;
    font-weight: 600;
}

.detail-order .items .item .purchase-info div > p{
    font-size: 1.5rem;
    font-weight: 600;
}

.user{
    padding-top: 10rem;
    background-color: #eee;
}

.user .title{
    text-align: center;
    font-size: 2.5rem;
}

.user .subtitle{
    margin-top: 1.5rem;
}

.user .title i{
    color: var(--blue);
}

.user .content{
    margin-top: 1rem;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    background-color: #fff;
}

.user .content div{
    font-size: 1.7rem;
    margin: .5rem 0;
    display: flex;
    align-items: center;
    gap: .5rem;
}


.user .content div > span{
    font-weight: 600;
    margin-right: .5rem;
}

.user .content div > i{
    color: var(--blue);
    font-size: 1.7rem;
}

.user .content .name .p{
    text-transform: uppercase;
}

.user .main-addresses{
    margin-top: 1rem;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    background-color: #fff;
}

.user .main-addresses .fa-plus{
    margin-left: .1rem;
    font-size: 1rem;
}

.user .main-addresses .fa-map-marker-alt{
    margin: 0 -.3rem
}

.user .main-addresses .fa-map-marker{
    font-size: .9rem;
}

.user .main-addresses .address-container{
    margin: 1rem;
    border-bottom: .1rem solid rgba(0,0,0,0.1);
}

.user .main-addresses .address-container p{
    font-size: 1.5rem;
}

.user .main-addresses .address-container p span{
    font-weight: 600;
}

.addresses{
    padding-top: 10rem;
    background-color: #eee;
}

.addresses .title{
    font-size: 2.5rem;
    text-align: center;
}

.addresses .title i{
    color: var(--blue);
}

.addresses .items{
    justify-content: center;
    margin: 1rem 0;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.addresses .items .item{
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    background-color: #fff;
    padding: 1rem;
}

.addresses .items .item .header{
    border-bottom: .1rem solid rgba(0,0,0,.1);
}

.addresses .items .item .header h1{
    font-size: 2rem;
}


.addresses .items .item .content{
    margin: .5rem 0;
}

.addresses .items .item .content p{
    font-size: 1.8rem;
}

.addresses .items .item .content p span{
    font-weight: 600;
}

.addresses .items .item .footer{
    border-top: .1rem solid rgba(0,0,0,.1);
}

.addresses .items .item .footer a{
    font-size: 1.2rem;
    padding: 1rem 1.5rem
}

.addresses .items .item .footer a:last-child{
    float: right;
}

.checkout{
    padding-top: 10rem;
    background-color: #eee;
}

.checkout .title{
    font-size: 2.5rem;
    text-align: center;
}

.checkout .frete{
    border-radius: 5px;
    background-color: #fff;
    padding: 1rem;
    margin: 1rem 0;
}
.checkout .frete label{
    font-size: 1.5rem;
    font-weight: 700;
}

.checkout .frete #frete-input{
    border: 0.1rem solid rgba(0,0,0,0.1);
    padding: 1rem 1.5rem;
}

.checkout .frete .btn{
    margin-left: .5rem;
}

.checkout .user-address{
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: var(--box-shadow);
}

.checkout .address-info{
    font-size: 1.5rem;
    margin-top: 1rem;
}

.checkout .address-info b{
    color: rgb(0, 0, 0, .8)
}

.checkout .address-info span{
    color: #555555;
}

.checkout select{
    border-radius: 5px;
    padding: 1rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0,0,0,.1);
}

.checkout .order-items{
    margin-top: 2rem;
}

.checkout .item{
    align-items: center;
    display: flex;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    background-color: #fff;
    flex-wrap: wrap;
}

.checkout .item span{
    margin-left: 1.5rem;
    font-size: 1.5rem;
}

.checkout .item .img-box{
    width: 50px;
    height: 50px;
}

.checkout .item img{
    max-width: 100%;
    max-height: 100%;
}

.checkout .item .product-name{
    font-weight: 500;
    margin-left: .5rem;
}


/*-----media queries-----*/
@media (max-width: 991px){
    html{
        font-size: 55%;
    }

    header{
        padding: 1rem 2rem;
    }

    section{
        padding: 2rem;
    }
}


@media (max-width: 768px){
    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: #fff;
        border-top: 1rem solid rgba(0,0,0,.2);
        border-bottom: 1rem solid rgba(0,0,0,.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }

    #search-form #search-box{
        width: 90%;
        margin: 0 1rem;
    }

    .home .home-slider .slide .content h3{
        font-size: 5rem;
    }
}

@media (max-width: 991px){
    html{
        font-size: 50%;
    }
    header{
        padding: 1rem 2rem;
    }
    .dishes .box-container .box img{
        height: auto;
        margin: 100%;
    }
}